
.card img{
    height: 150px;
    
}
.btn-items button{
    display: inline;
    margin:5px;
    
}
@media ( max-width: 720px){
.btn-items button{
    width:100%;
}
}
/* .card p{
    color:red;
} */
