
.card img{
    height: 150px;
    
}
.btn-items button{
    display: inline;
    margin:5px;
    
}
.sds{
    columns: 4;
    width: 100%;
}
@media ( max-width: 720px){
.btn-items button{
    width:100%;
   
}
 .sds{
    columns: 2;
    display: inline;
 }
 .card{
    width: 100%;
 }
}
/* .card p{
    color:red;
} */
