* {
    box-sizing: 0px;
}

H1 {
    font-weight: bolder;
    font-size: 40px
}

.shop-now {
    border: none;
    background-color: rgb(146, 3, 3);
    color: white;
    border-radius: 10%;
    cursor: pointer;
    padding: 10px;
    padding: 10px 60px;
}

@media (max-width: 720px) {
    .shop-now {
        width: 100%;
        border-radius: 10%;
    }

    #border {
        display: inline;
        text-align: center;
        columns: 2;
    }

    .test-border {
        margin: 2px;
    }

    .bi-star {
        display: none;
    }
.imgg{
    columns: 2;
    padding: 5px;
    width: 100%;
}
.dress img{
    
    width: 100%;
}

}

#border {
    border-right: 1px solid grey;
}

.p {
    color: grey
}

.image {
    background: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.bg-black {
    background-color: black;
    padding: 20px;
    color: white;


}
/* dress */

.dress img{
    height: 150px;
    width: 100%;
    padding:5px;
    cursor: pointer;
}

/* new arrival */

.card {
    height: 100px;

}

Link {
    text-decoration: none;
}

.card {
    color: black;
    margin: 3px;
    box-shadow: 4px 8px 8px 4px rgb(0, 0, 0, 0.2)
}

.bi-heart {
    cursor: pointer;
    padding-left: 18px;

}

.bi-star-fill {
    cursor: pointer;
    padding-left: 8px;
    color: rgb(182, 182, 15);
}

.bi-star {
    cursor: pointer;
    padding-left: 8px;
    color: rgb(108, 108, 15);
}

#btn {
    cursor: pointer;
    margin-left: 18px;
    width: 100px;
}

.name {
    color: white;
    background-color: black;
    padding: 3px;

}

.price {
    color: red;

}

/* browse with style */
.bg-color {
    background-color: rgb(233, 229, 229);
    border-radius: 20px;
    padding: 20px;
}

.bds-p {
    padding: 10px;
}

/* testimonials */
.test-border {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}
/* wave background */
.custom-shape-divider-top-1759346674 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1759346674 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 197px;
}

.custom-shape-divider-top-1759346674 .shape-fill {
    fill: #ee2d20;
}