.select-image {
    height: 180px;
    width: 100%;
    border: 1px dashed  gray;
    text-align: center;
    padding-top:70px
}
input[type="text"]:focus, input[type="number"]:focus, textarea:focus {
    border-color: black;
}
.selected-images-1{
    background-color: whitesmoke;
    height: 100px;
    padding: 15px;
    margin-right: 15px;
}
.dropdown-toggle{
    width: 100%;
}
.dropdown-menu{
    width: 100%;
}

.btn-group{
    border-radius: 50%;
}



